@media screen and (max-width:1050px) {

    .second-change {
        flex-basis: 100%;

    }

    .second-change .second-svg {
        margin-bottom: 20px;
        margin-left: 350px;

    }

    .second-change .upper {
        width: 100%;
        margin-bottom: 10px;

    }

    .second-change .p-primary {
        text-align: center;
        margin-bottom: 2rem;

    }

    /* Third-section */
    .third-left .third-img {
        position: relative;
        top: 10vh;
        right: 2rem;
        width: 60vw;
    }

    /* <!-- //fifth-section// --> */

    .fifth-row {
        width: 90%;
    }

    .fifth-col .number .svg-primary {
        padding: 0.5rem 1rem;
        width: 35%
    }

    .fifth-col .heading .svg-primary {
        font-size: 1rem;
        font-weight: 200;
        padding: 1rem 0rem;
    }

    .fifth-col .paragraph .p-primary {
        font-size: 1rem;
        font-weight: 200;
        font-style: italic;
        padding: 1rem 0.5rem;
        line-height: 25px;
        letter-spacing: 1px;

    }

    /* Eight-section */
    .eight-section-box {
        position: absolute;
        top: 85%;
        left: 30%;

    }
    .eight-section-box .h1-primary {
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    
    .eight-section-box .p-primary {
        color: #fbfbfb;
        font-size: 1.3rem;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 1px;
        line-height: 30px;
     
    }




}

@media screen and (max-width:800px) {
    nav {
        position: sticky;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.6s ease;
    }

    .nav-links {
        background-color: #ffffff;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(150px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -20%);
        transition: all 1.5s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
    }

    li.fade {
        opacity: 1;
    }

    body {
        background-position: initial;
    }



    /* <!-- first-section --> */
    .first-box {
        width: 100%;
    }

    .first-left {
        flex-basis: 100%;
        text-align: left;
        padding-left: 80px;
    }

    .first-left-items .p-primary {

        font-size: 1.3rem;
        font-weight: 100;
        letter-spacing: 3px;


    }

    .first-left-items .h1-primary {

        font-size: 2.5rem;
        margin-bottom: 2rem;

    }

    .first-left-items .para-primary {

        font-size: 1.3rem;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 40px;
        margin-bottom: 2rem;

    }

    .btn {

        padding: 0.5rem 4rem;
        font-size: 1.3rem;
        cursor: pointer;


    }


    .first-right {
        flex-basis: 100%;


    }

    .first-right-img {
        width: 100vw;

    }

    /* second-section */
    /* second-section */
    .second-row {
        width: 100%;
    }

    .second-col {
        /* border: 2px solid red; */
        flex-basis: 100%;
        padding: 2rem;
        margin-bottom: 30px;
    }

    .second-des {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    .down {
        margin-top: 2px;
    }

    .upper {
        margin-bottom: 20px;

    }

    .second-img .second-image {
        width: 50vw;
        height: 70vh;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    }

    /* Third-section */
    .third-left{
        width: 50%;
        height: 800px;
    }
    .third-right{
        top: 10vh;
        left: 5rem;
    }

    /* <!-- //fifth-section// --> */

    .fifth-section {
        height: 170vh;
    }

    .fifth-row {
        width: 80%;

    }

    .fifth-col {
        height: 370px;
        flex-basis: 49.5%;
    }

    .fifth-col .number .svg-primary {
        padding: 0.5rem 1rem;
        width: 33%;
    }

    .fifth-col .heading .h1-primary {
        font-size: 2.6rem;
        font-weight: 200;
        padding: 1rem 0.5rem;
    }

    .fifth-col .paragraph .p-primary {
        font-size: 1rem;

    }
    
/* seven-section */
.seven-items {
    width: 80%;
    margin: auto;
    display: block;
}

.seven-left-item {

    flex-basis: 50%;
}

.seven-left-item .seven-first-img {
    width: 100%;

}

.seven-right-items {

    flex-basis: 50%;
    margin: auto;
}

.seven-seconds {
    width: 100%;
    display: flex;


}

.seven-second {
    width: 100%;
}

.seven-third {
    width: 100%;

}

.seven-third .seven-third-img {
    width: 100%;

}

.seven-fourth .seven-fourth-img {
    width: 100%;
    margin-top: 0.3rem;
}

    /* Eight-section */
    .eight-section-box {
        position: absolute;
        top: 84.5%;
        left: 30%;
        width: 50%;
    }

    .eight-section-box .h1-primary {
        font-size: 2rem;

    }


    /* .<!-- //Nine-section// --> */

    .nine-left-items {
        flex-basis: 100%;
    }

    .nine-right-item {
        flex-basis: 100%;
        margin: auto;
    }

    .nine-right-des .p-primary {
        padding: 1rem;
        text-align: left;
        font-size: 1.5rem;
        line-height: 40px;
        color: #000000;
        margin-top: 5rem;


    }
    /* <!-- footer --> */
    .text ,  footer input[type='email'] ,
    footer input[type='submit'] {
        font-size: 20px;
    }
    .list-footer li a {
        padding: 15px;
        font-size: 15px;
    }
    .social-media i {
        padding: 10px;
    }

}
@media(max-width:610px){
    .text ,  footer input[type='email'] ,
    footer input[type='submit'] {
        font-size: 14px;
    }
    .list-footer li a {
        padding: 10px;
        font-size: 12px;
    }
    .social-media i {
       font-size: 15px;
    }
}



@media screen and (max-width:450px) {
    /* <!-- first-section --> */

    .first-left {
        padding-left: 20px;
    }

    .first-left-items .p-primary {
        font-size: 1rem;


    }

    .first-left-items .h1-primary {
        font-size: 2rem;

    }

    .first-left-items .para-primary {
        font-size: 1rem;

    }

    .first-left-items .btn {
        padding: 0.5rem 2.5rem;
        font-size: 1rem;


    }

    /* second-section */
    /* second-section */
    .second-col .second-svg {
        margin-left: 2rem;

    }


    .second-text {
        font-size: 0.9rem;
        text-align: left;
    }

    /* Third-section */

    .third-section {
        display: none;
    }
    .third-left{
        width: 100%;
        height: 700px;
        background:#ec563d;
      }
      .third-left .third-img{
        width: 100%;
        top: 5vh;
        right: 1px;
      }
      .third-right{
  
        width: 100%;
        right: 300px;
        margin-left: -350px;
      }
    /* <!-- //fifth-section// --> */

    .fifth-section {
        height: 244vh;
    }

    .fifth-row {
        
        bottom: 30vh;
    
    }


    .fifth-col {
        height: 250px;
        flex-basis: 80%;
    }

    .fifth-col .number .svg-primary {
        padding: 0.5rem 1rem;
        width: 33%;
    }

    .fifth-col .heading .h1-primary {
        font-size: 1rem;
        font-weight: 200;
        padding: 1rem 0.5rem;
    }

    .fifth-col .paragraph .p-primary {
        font-size: 0.6rem;
        line-height: 15px;

    }

    /* * sixth-section */


    .six-col {
        flex-basis: 100%;
    }

    .six-col .h1-primary {
        font-size: 2rem;
        text-align: center;

    }



    .six-col .btn {
        color: white;
        padding: 0.5rem 2rem;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        cursor: pointer;
        background: #ec563d;
        border: 3px solid #ec563d;
        margin-bottom: 2rem;
    }

    .six-col .btn:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border: 3px solid black;
    }

    /* Eight-section */
    .eight-section-box {
        position: absolute;
        top: 82%;
        left: 50%;
        width: 80%;
    }

    .eight-section-box .h1-primary {

        font-size: 1rem;

    }

    .eight-section-box .p-primary {
        font-size: 0.7rem;
        line-height: 25px;


    }

    .eight-section-box .btn {
        color: white;
        padding: 0.5rem 1rem;
        font-size: 1rem;

    }
    /* <!-- footer --> */
    .text {
        font-size: 12px;
    }
    .list-footer li a {
        padding: 5px;
    }

}

@media(max-width:330px){
        /* <!-- footer --> */
    .text {
        font-size: 10px;
    }
    .seven-des .seven-text {
        padding: 1rem;
        font-size: 0.5rem;
        font-weight:bolder;
        font-style: italic;
    }
}