@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;

}

/* body {
   

} */

nav {
    width: 100%;
    display: flex;
}

.logo {
    padding: 6vh 2vw;
    text-align: right;
}


.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    margin: 0 0.7vw;
    text-transform: uppercase;
    color: #000000;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #ec563d;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 55%;
}

.login-btn {
    color: #fff;
    background-color: #ec563d;
    border: none;
    border-radius: 20px;
    padding: 0.4rem 3rem;
    font-size: 15px;
    cursor: pointer;
}

.login-btn:hover {
    color: #fff;
    background-color: rgb(0, 0, 0);
    ;
    border: 1px solid #fff;
    transition: all ease-in-out 350ms;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 6px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}



.toggle .line-one {
    transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .line-two {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line-three {
    transform: rotate(45deg) translate(-5px, -7px);
}
/* <!-- first-section --> */
.first-section {
    width: 100%;
    /* height: 100vh; */
    background-color: hsl(0, 0%, 89%);
    transition: background-color 300ms;
}

.first-box {
    width: 80%;
    /* height: ; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.first-left {
    flex-basis: 40%;
    text-align: left;
    margin-top: 5rem;
}

.first-left-items .p-primary {
    color: #00000068;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    font-family: 'PT Sans', sans-serif;
    animation-delay: 0.5s;

}

.first-left-items .h1-primary {
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: 'PT Sans', sans-serif;
    animation-delay: 0.5s;

}

.first-left-items .para-primary {
    color: #00000068;
    font-size: 1.3rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 2rem;
    font-family: 'PT Sans', sans-serif;
    animation-delay: 0.5s;

}

.first-left-items .btn {
    color: white;
    padding: 0.5rem 4rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    background: #ec563d;
    border: 3px solid #ec563d;
    margin-bottom: 2rem;
    animation-delay: 0.5s;
}

.first-left-items .btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 3px solid black;
}

.first-right {
    flex-basis: 40%;

}

.first-right-item {
    width: 40vw;
    

}

.first-right-img {
    width: 140%;
    animation-delay: 0.5s;

}
/* second-section */

.second-section {
    width: 100%;
    padding: 7rem 0;
}

.second-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.second-col {
    /* border: 2px solid red; */
    flex-basis: 30%;
    padding: 2rem;
    margin-bottom: 30px;
}
.second-des{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.second-svg{
    border-radius: 100%;
    background-color: #ec563d;
    padding: 15px;
    margin-bottom: 20px;


}
.second-des .h1-primary{
    color: #000000;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'PT Sans', sans-serif;


}
.second-text{
    color: #000000;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2rem;
    font-family:  'PT Sans',sans-serif;
}
.down{
    margin-top: 200px;
}
.upper{
    margin-bottom: 200px;

}
.second-img .second-image{
    width: 25vw;
    height: 60vh;
    border-radius: 50%;
   
}




/* Third-section */
.third-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .third-items {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .third-left{
    width: 50%;
    height: 900px;
    background:#ec563d;
  }
  .third-left .third-img{
    width: 150%;
    position: relative;
    top: 5vh;
    right: 20px;
  }
  .third-right{
    width: 50%;
    min-height: 400px;
    background-color: #cfcece;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -150px;
    position: relative;
    top: 30vh;
    left: 5rem;
  }
  .third-right h1 {
    font-size: 40px;
    font-weight: lighter;
    color: rgb(0, 0, 0);
  }
  .third-right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
    color: rgb(0, 0, 0);
  }
  .third-right a {
    color: rgb(0, 0, 0);
    padding: 0.5rem 4rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    background: #ec563d;
    border: 3px solid #ec563d;
    margin-bottom: 2rem;
}

.third-right a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 3px solid black;
}


/* <!-- //fourth-section// --> */

.fourth-section {
    margin-top: -3.1rem;  
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(./images/fgggg-min.jpg) center no-repeat;
    background-size: cover;

}

/* <!-- //fifth-section// --> */
.fifth-section {
    width: 100%;
    background-color: #ec563d;
}

.fifth-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    bottom: 25vh;

}


.fifth-col {
    height: 60vh;
    flex-basis: 24%;
    padding: 1rem;
    margin-bottom: 3rem;
    background: white;
    cursor: pointer;
}

.fifth-col .number .svg-primary {
    padding: 1rem 1rem;
    width: 35%;
    font-size: 3.5rem;
    background-color: #ec563d;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.fifth-col .heading .h1-primary {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0rem 0.5rem;
    color: #ec563d;
    font-family: 'PT Sans', sans-serif;

}

.fifth-col .paragraph .p-primary {
    font-size: 0.9rem;
    font-weight: 100;
    font-style: italic;
    padding: 1rem 0.5rem;
    line-height: 20px;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;


}

/* sixth-section */
.sixth-section {
    width: 100%;
    padding: 7rem 0;
}

.six-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.six-col {
    flex-basis: 45%;
}

.six-col .h1-primary {
    color: #ec563d;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.six-col .p-primary {
    color: #0000008e;
    font-size: 1.3rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 2rem;
}

.six-col .btn {
    color: white;
    padding: 0.5rem 4rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    background: #ec563d;
    border: 3px solid #ec563d;
    margin-bottom: 2rem;
}

.six-col .btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 3px solid black;
}



/* seven-section */
.seven-section{
    width: 100%;
    padding: 7rem 0;
}
.seven-items{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
}
.seven-left-item{
    flex-basis: 30%;
}
.seven-left-item .seven-first-img{
    width: 145%;
   
}
.seven-right-items{
    flex-basis: 35%;
    margin: auto;
}

.seven-seconds{
    width: 100%;
    display: flex;
  
}
.seven-second{
    width: 50%;
    background-color: #f5f7fa;
    display: flex;
    align-items:center;
    justify-content:center;
}
.seven-des .seven-svg{
    width: 20%;
}
.seven-des .seven-text {
    padding: 1rem;
    font-size: 1rem;
    font-weight:bolder;
    font-style: italic;


}
.seven-third{
    width: 50%;

}
.seven-third .seven-third-img{
    width: 90%;
 
}
.seven-fourth .seven-fourth-img{
    width: 100%;
    margin-top: 0.3rem;
}


/* Eight-section */
.eight-section {
    width: 100%;
    height: 500px;
    position: relative;


}

.eight-section-item {
    background-image: url(./images/fgds-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 130%;

}

.eight-section-box {

    position: absolute;
    top: 83%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px;
    /* text-align: center; */
    color: white;
    background-color: #ec563d;
}

.eight-section-box .h1-primary {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.eight-section-box .p-primary {
    color: #fbfbfb;
    font-size: 1.3rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 2rem;

}

.eight-section-box .btn {
    color: white;
    padding: 0.5rem 4rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
    background: transparent;
    border: 3px solid #ffffff;
    margin-bottom: 2rem;
}

.eight-section-box .btn:hover {
    background-color: rgb(255, 255, 255);
    color: #ec563d;
    border: 1px solid #ec563d;
}








/* .<!-- //Nine-section// --> */
.nine-section {
    width: 100%;
    padding: 15rem 0;
}

.nine-heading {

    text-align: center;
    padding-bottom: 7rem;
}

.nine-heading .h1-primary {
    font-size: 3rem;
    font-family: Arial Black;
}

.nine-items {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.nine-left-items {
    flex-basis: 50%;
}

.nine-left-items .h1-primary {
    text-align: initial;
    margin-bottom: 1rem;
    font-weight: 500;
    color: #ec563d;
}

.nine-left-des {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.nine-left-text .p-primary {
    padding: 0 1rem;
    text-align: initial;
    font-size: 1rem;
    line-height: 25px;
    font-style: italic;
    color: #0000008e;
    margin-bottom: 2rem;
}

.nine-left-btn .btn {
    color: white;
    padding: 0.5rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    background: #ec563d;
    border: 3px solid #ffffff;

}

.nine-left-btn .btn:hover {
    background-color: rgb(6, 6, 6);
    color: rgb(243, 240, 240);
    border: 3px solid rgb(255, 255, 255);
}

.nine-right-item {
    flex-basis: 50%;
    margin: auto;
}

.nine-right-img .nine-img {
    width: 100%;

}

.nine-right-des {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.nine-right-des .p-primary {
    padding: 0 5rem;
    text-align: initial;
    font-size: 2rem;
    line-height: 50px;
    color: #000000;
    margin-top: 10rem;

}

/* <!-- footer --> */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background:#ec563d;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.text {
    font-size: 28px;
    font-weight: bold;
    margin: 40px auto;
}
footer input[type='email']{
    width: calc(100vw - 40vw);
    font-size: 25px;
    padding: 10px;
    border-radius: 30px 0 0 30px;
    outline: none;
    border: none;
    color: black;
}
footer input[type='submit']{
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    padding: 10px;
    color: #fff;
    background:  black;
    font-size: 25px;
    cursor: pointer;
}
footer input:hover[type='submit'] {background: black;}
.list-footer {
    margin: 40px auto;
    display: flex;
    list-style-type: none;
}
.list-footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.list-footer li a:hover{color: black;}

.social-media {
    margin: 20px auto;
}
.social-media i {
    padding: 20px;
    font-size: 25px;
    color: #fff;
}
.social-media i:hover{
    color: rgb(2,255,171);
}


/* Transition */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;

}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;

}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}